@charset "UTF-8";
* {
    box-sizing: border-box;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-family: mr-eaves-modern, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    padding-top: 0;
    width: 100%;
}

.headGridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.headContainerTop {
    justify-content: flex-start;
    align-items: center;
    background-color: #EFEFEF;
    text-align: center;
    /*containeren skal have text align for at links i container kan inline-block*/
}

.headContainerTop a {
    color: #000;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    margin-left: 35px;
    font-size: 12px;
}

.headContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headContainer img {
    height: 48px;
    width: auto;
}

.headContainerIcons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 1em;
}

.headContainerIcons img {
    height: 32px;
    width: auto;
    margin: 1em;
}

input[type=text] {
    width: 0px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:hover {
    width: 20%;
}


/*search bar kommer her ikke færdig

.search-bar {
    float: right;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e2e2e2;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-bar:hover>.search-text {
    width: 240px;
    padding: 0 6px;
}

.search-btn {
    color: salmon;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
*/

.navContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #fdfffc;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav-links li {
    list-style: none;
    width: 200px;
    height: 45px;
    opacity: .8;
    line-height: 40px;
}

.nav-links a {
    color: #808080;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1em;
    text-transform: uppercase;
    transition: 0.5s;
}

.nav-links a:hover {
    transition: 0.35s;
    color: #000;
    text-decoration: underline;
}

ul li ul li {
    /*nr 2 liste skal ikke vises*/
    display: none;
}

ul li:hover ul li {
    /*hover er targeted den første ul li, og på hover dukker den anden ul li op*/
    display: block;
    background-color: #F6F6F6;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    display: flex;
    width: 25px;
    height: 5px;
    background-color: #404040;
    margin: 5px;
    transition: all 0.3s ease;
}

.burger div:hover {
    background: crimson;
}

.matasHero {
    background-image: url("../assets/images/originale/forsidebillede7.jpg");
    height: 72vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.matasHeroText {
    text-align: center;
    text-align-last: center;
    position: absolute;
    width: 25%;
    margin-left: 20px;
    top: 5%;
    color: white;
    font-size: 20px;
}

.trioGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem;
    grid-gap: 2rem;
}

.gridImg {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.banner {
    /*så den ikke støder ind i knappen over*/
    padding-top: 3rem;
    margin: 2rem;
}

.bannerImg {
    width: 100%;
    height: auto;
}

.storiesSection {
    text-align: center;
}

.sectionHR {
    height: 3px;
    background: black;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.storiesLogo {
    width: 10%;
    height: auto;
}

.storiesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem;
    grid-gap: 2rem;
}

.certifikatSection {
    text-align: center;
}

.certifikatGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 2rem;
}

.instagramSection {
    text-align: center;
}

.instagramGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem;
    grid-gap: 2rem;
}

.footerIconer {
    display: flex;
}

.footerIconer .hr-line {
    width: 100%;
    position: relative;
    margin: 15px;
    border-bottom: 1px solid #000;
}

.footerIconer .hr-icon {
    position: relative;
    top: 3px;
    color: #000000;
}

.footerGrid {
    margin-top: 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2rem;
}

.footerGrid a {
    text-decoration: none;
    color: black;
}

.knap2 {
    background: linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
    background-color: #ffffff;
    border: 3px solid #e4e4e4;
    display: inline-block;
    cursor: pointer;
    color: #808080;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.knap2:hover {
    background: linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
    background-color: #ffffff;
}

.knap2:active {
    position: relative;
    top: 1px;
}

.imgContainer {
    position: relative;
    width: 100%;
}


/*Smaller screens */

@media screen and (max-width: 1280px) {
    .nav-links {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow: hidden;
    }
    .nav-links {
        position: absolute;
        height: 100vh;
        top: 0vh;
        background-color: #EFEFEF;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links a {
        font-size: 12px;
        color: #808080;
    }
    .burger {
        display: block;
    }
    .navContainer {
        justify-content: flex-start;
    }
    .headContainer {
        margin-right: 6em;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-8px, -7px);
}